.star-rating {
    display: inline-block;
  }
  
  .star {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
    margin-right: 5px;
  }
  
  .star.filled {
    color: gold;
  }

  .feedback_title{
    text-align: center;
    
  }